---
import Layout from "../layouts/Layout.astro";
import { site } from "../data/site";
import { menuItems } from "../data/menu.ts";
---


<Layout>
  <main class="mx-auto max-w-5xl px-6 py-16">
    <h1 class="text-5xl">Menu</h1>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 "> 
      {menuItems.map((item) => (
        <details class="bg-white rounded-2xl shadow p-6 ring-1 ring-black/5">

          <summary class="cursor-pointer list-none">
            <h2 class="text-3xl">{item.name}</h2>
            <p class="text-neutral-600 text-sm">{item.description}</p>
          </summary>  
          <div class="mt-5">    
            {item.fillings.map((filling) => ( 
            <div class="mt-4 font-semibold">
              {filling.name}
              <ul class="list-disc list-inside text-sm text-neutral-600"> 
                {filling.sizes.map((variante) => (
                  
                    <li>{variante.size} - {variante.price} DA</li> 
                ))}
                </ul>
            </div>
          ))}
          </div>
      
        </details> 
      ))}
    </section>

  </main>
</Layout>
