---
import Layout from "../layouts/Layout.astro";
import { site } from "../data/site";
import { menuItems } from "../data/menu.ts";
---


<Layout>
  <main class="mx-auto max-w-5xl px-6 py-16">
    <h1 class="text-5xl">Menu</h1>

    {menuItems.map((item) => (
      <div> <h2>{item.name}</h2>
        <p>{item.description}</p>
        {item.fillings.map((filling) => ( 
        <div>
          {filling.name}
            {filling.sizes.map((variante) => (
              <li>
                {variante.size} - {variante.price} DA
              </li>
            ))}
        </div>))}
          </div>
    ))}

  </main>
</Layout>
